version: '3.8'

services:
  generate-account:
    container_name: generate-account
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.docker
    volumes:
      - ./pks:/root/pks
    command: [ "/root/generate_account" ]
  send-eoa-tx:
    container_name: send-eoa-tx
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.docker
    volumes:
      - ./pks:/root/pks
    command: [ "/root/send_tx" ]
